<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exploratory Data Analysis</title>
</head>
<body>
    <h1>Exploratory Data Analysis</h1>
    <div>
        <button type="button" onclick="window.location.href='/market_eda'">Market Attributes</button>
        <button type="button" onclick="window.location.href='/matchGeom_eda'">Market Geometry</button>
        <button type="button" onclick="window.location.href='/home_eda'">Home Information</button>
        <button type="button" onclick="window.location.href='/geographical_spread'">Geographical Spread</button>
        <button type="button" onclick="window.location.href='/temporal_analysis'">Temporal Spread</button>
        <button type="button" onclick="window.location.href='/outliers'">Outliers</button>
    </div>
</body>
</html>
